<footer class="text-muted sticky-bottom my-4 posts_list_font">
    <div class="container text-center">
        <p>
            <i class="fas fa-copyright"></i> {% now "Y" %} - Made with <i class="fas fa-heart striking-color"></i> by 
            <a href="#" class="striking-color">
                Fer Cruz 
            </a>
            <span class="float-right text-danger nav-font h3">
                <a href="https://github.com/fkurusu7" class="text-danger pl-2" data-toggle="tooltip" data-placement="left" title="Github /fkurusu7">G</a>
                <a href="https://www.instagram.com/fkurusu7" class="text-danger pl-2" data-toggle="tooltip" data-placement="top" title="Instagram @fkurusu7">I</a>
                <a href="https://twitter.com/fkurusu7" class="text-danger pl-2" data-toggle="tooltip" data-placement="right" title="Twitter @fkurusu7">T</a>
            </span>
        </p>
    </div>
</footer>