<div class="row">
  <form class="form-inline my-2 my-lg-0 float-right mr-3">
    <input class="form-control mr-sm-2" type="search" placeholder="Search Post" aria-label="Search">
    <hr>
    <button class="btn btn-outline-dark my-sm-2 float-right" type="submit">Search</button>
  </form>
</div>

<div class="row my-sm-3">
  <a href="{% url 'add_post' %}" class="mr-4 float-right btn btn-dark btn-md" role="button">+ Add Post</a>
</div>

<!-- Section Categories -->
<div class="row">
  {% include 'partials/_categories.html' %}
</div>