{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Alerts -->
{% include 'partials/_alerts.html' %}

<div class="jumbotron bg-dark my-5">
    <div class="row">
        <div class="col-8 index-font">
            <h1 class="display-5 index-title mb-4">Hello, I'm Fer.</h1>
            <p class="lead index-text-color">
                My blog is a collection of my software development learning path, curated resources, and ideas. Resources and Ideas that I've used to improve my career, myself and my life. Here you'll find content about: How I built my blog, Back-end (Python, Django), Data Structures and Algorithms, Front-end (UX, HTML, CSS, JS, React), and links to resources, people I've found interesting. 
            </p>
            <p class="index-text-color">pd. I love Photography.</p>
            <!-- Button trigger modal -->
            <button type="button" class="mt-5 btn lets-talk-button btn-lg" data-toggle="modal" data-target="#contactModal">
                Let's talk
            </button>
            <!-- Modal -->
            <div class="modal fade" id="contactModal" tabindex="-1" aria-labelledby="contactModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content bg-dark">
                        <div class="modal-header">
                            <h5 class="modal-title index-title" id="contactModalLabel">Contact</h5>
                            <button type="button" class="close index-text-color" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"><i class="fas fa-times"></i></span>
                            </button>
                        </div>
                        <form action="" method="post" class="needs-validation" novalidate>
                            {% csrf_token %}
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="name" class="index-title">Name:</label>
                                    <input type="text" class="form-control" name="name" id="name"
                                        placeholder="Contact Name" required>
                                    <div class="invalid-feedback">
                                        Please provide a valid name.
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="email" class="index-title">Email: </label>
                                    <input type="email" class="form-control" name="email" id="email"
                                        placeholder="Contact Email" required>
                                    <div class="invalid-feedback">
                                        Please provide a valid email.
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="contact_message" class="index-title">Message:</label>
                                    <textarea class="form-control" name="name" id="contact_message" rows="4" placeholder="Send beer... I'll get back to you ASAP" required></textarea>
                                    <div class="invalid-feedback">
                                        Please provide some message.
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-light" data-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn lets-talk-modal-btn">Send message</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div><!-- END Modal -->
        </div>
        <div class="col-4">
            <img src="{% static 'img/home_profile.jpg' %}" class="rounded mx-auto d-block img-fluid rounded-circle"
                alt="Fer Profile Pic">
        </div>
    </div>
</div>

<div class="row mx-auto index-font mb-5">
    <h2 class="text-center index-text-color m-4 pb-3 display-4">What I'm learning</h2>
    <div class="card-group text-light mx-4">
        <div class="card bg-dark mr-3 border-dark">
            <figure class="figure">
                <img src="{% static 'img/python_chris-ried-ieic5Tq8YMk-unsplash.jpg' %}" class="figure-img img-fluid rounded" alt="Python code, image from unsplash.">
                <figcaption class="figure-caption">
                    Photo by 
                    <a href="https://unsplash.com/@cdr6934?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText" class="text-muted text-decoration-none">Chris Ried</a> 
                    on 
                    <a href="https://unsplash.com/s/photos/backend-django?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText" class="text-muted text-decoration-none">Unsplash</a>
                </figcaption>
            </figure>
            <div class="card-body">
                <h5 class="card-title index-title">PYTHON</h5>
                <p class="card-text index-text-color"></p>
                <p class="card-text index-text-color">Did you know that Python is named after the British comedy group Monty Python?</p>
            </div>
        </div>
        <div class="card bg-dark mr-3 border-dark">
            <figure class="figure">
                <img src="{% static 'img/backend_joshua-woroniecki-lzh3hPtJz9c-unsplash.jpg' %}" class="figure-img img-fluid rounded" alt="Backend, laptop, image from unsplash.">

                <figcaption class="figure-caption">
                    Photo by 
                    <a href="https://unsplash.com/@joshua_j_woroniecki?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText" class="text-muted text-decoration-none">Joshua Woroniecki</a> 
                    on 
                    <a href="https://unsplash.com/s/photos/backend-code?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText" class="text-muted text-decoration-none">Unsplash</a>
                </figcaption>
            </figure>
            <div class="card-body">
                <h5 class="card-title index-title">Backend with DJANGO</h5>
                <p class="card-text index-text-color">The Web framework for perfectionists with deadlines. It just works and lets you focus on your business logic and creating something users can use.</p>
            </div>
        </div>
        <div class="card bg-dark border-dark">
            <figure class="figure">
                <img src="{% static 'img/frontend_valery-sysoev-p9OkL4yW3C8-unsplash.jpg' %}" class="figure-img img-fluid rounded" alt="Frontend, image from unsplash.">
                <figcaption class="figure-caption">
                    Photo by 
                    <a href="https://unsplash.com/@valerysysoev?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText" class="text-muted text-decoration-none">Valery Sysoev</a> 
                    on 
                    <a href="https://unsplash.com/s/photos/html?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText" class="text-muted text-decoration-none">Unsplash</a>
                </figcaption>
            </figure>

            <div class="card-body">
                <h5 class="card-title index-title">Front-end HTML/CSS/JS/React</h5>
                <p class="card-text index-text-color">You can’t escape it. It’s perhaps the most hyped -END since people started putting rounded corners on everything and using unnecessary gradients.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
