{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="jumbotron">
    <h1 class="display-5">Hello, I'm Fer!</h1>
    <div class="row">
        <div class="col-8">
            <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse, rerum officiis iste
                consequatur et explicabo odio iusto saepe, alias fugiat culpa libero eum perferendis sint officia magni
                quod, eveniet vitae.</p>
            <a class="mt-3 btn btn-dark btn-lg" href="#" role="button">Let's talk</a>
        </div>
        <div class="col-4">
            <img src="..." class="rounded mx-auto d-block img-fluid" alt="...">
        </div>
    </div>
</div>

<div class="row">
    <h3 class="text-center mt-2 py-5">What I do</h3>
    <div class="card-group">
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This card has even longer content than the first to show that equal height action.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
</div>
<!--div class="container">
    <img src="{% static 'img/landing_hero.jpg' %}" alt=""
        title="https://unsplash.com/photos/Skf7HxARcoc?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink"
        style="width:100%;">
    <div class="bottom-left">Bottom Left</div>
    <div class="top-left">Top Left</div>
    <div class="top-right">Top Right</div>
    <div class="bottom-right">Bottom Right</div>
    <div class="centered">Centered</div>
</div-->

{% endblock %}