/*
  font-family: 'Cutive Mono', monospace;
  font-family: 'Nova Mono', monospace;
  font-family: 'Share Tech Mono', monospace;
*/
.nav-font{
  font-family: 'Share Tech Mono', monospace;
  font-weight: bold;
}

.index-font{
  font-family: 'Share Tech Mono', monospace;
}

.posts_list_font{
  font-family: 'Nova Mono', monospace;
}
.posts_list_font_color{
  color: #909395;
}

.main_font{
  color: #909395;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.6;
}

.striking-color{
  color: #fe5186;
}
.striking-bg-color{
  background-color: #fe5186;
}

/* index.html modal button*/
.btn-outlined{
  transition-duration: 0.2s;
}

.btn-outlined:hover{
  background-color: #343a40 !important;
  border: #fe5186 solid 1px !important;
  color: #fe5186 !important;
}

/* _navbar.html dropdown anchors */
.dropdown-menu > a{
  transition-duration: 0.4s;
}
.dropdown-menu > a:hover{
  background-color: #fe5186;
  color: #fff !important;
}

/* posts.html */
.post_border{
  border-bottom: #ffc107 dotted 1px;
}

/* Links in each post in posts.html */
.anchor_hover:hover{
  color: #fe5186;
  text-decoration: none;
}

/* Blinking shell cursor for NavBrand in partials/_navbar.html */
.blinking {
  display: inline-block;
  width: 10px;
  height: 1.3rem;
  background-color: #fe5186;
  -webkit-animation: blinking 1s infinite;
  animation: blinking 1s infinite;
}

@keyframes blinking {
  0% {
      background-color: transparent;
  }
  45% {
      background-color: transparent
  }
  50% {
      background-color: #fe5186;
  }
}
/* END Blinking shell cursor for NavBrand */