/*
  font-family: 'Cutive Mono', monospace;
  font-family: 'Nova Mono', monospace;
  font-family: 'Share Tech Mono', monospace;
*/

/* FONTS */
.nav-font{
  font-family: 'Share Tech Mono', monospace;
  font-weight: bold;
}

.index-font{
  font-family: 'Share Tech Mono', monospace;
}

.posts_list_font{
  font-family: 'Nova Mono', monospace;
}

/* NAVBAR */
.nav-font-bg-color{
  background-color: #FF8947;
}
.nav-font-color{
  color: #FF8947 !important;
}
.nav-font-color:hover{
  color: #FE5186 !important;
}

.nav-font-color-a{
  color: #FF8947 !important;
}

.nav-font-color-a:hover{
  background-color: #FF8947 !important;
  color: #343a40 !important;
}

.nav-selected-bg-color{
  background-color: #FF8947;
  color: #343a40 !important;
}

/* Dropdpwn */
.nav-selected-bg-color-outline{
  border: #FF8947 solid 1px;
  background-color: #343a40 !important;
  color: #FF8947 !important;
}
.nav-selected-bg-color-outline:hover{
  background-color: #FF8947 !important;
  color: #343a40 !important;
}

.search-box{
  border: #FF8947 solid 1px;
}
.search-box:focus{
  border: #FF8947 solid 1px;
}
.search-box-bg{
  background-color: #FF8947;
  color: #343a40;
}

.dropdown-menu{
  border: #FF8947 solid 1px;
}
/* _navbar.html dropdown anchors */
.dropdown-menu > a{
  transition-duration: 0.4s;
}
.dropdown-menu > a:hover{
  background-color: #FF8947;
  color: #343a40 !important;
}

/* END NAVBAR */

/* INDEX */
.index-title{
  color: #FF8947;
}

.index-text-color{
  color: #C8C9CA;
}

.lets-talk-button{
  background-color: #FE5186;
  color: #FFFFFF;
  transition-duration: 0.2s;
}

.lets-talk-button:hover{
  background-color: #343a40 !important;
  border: #fe5186 solid 1px !important;
  color: #fe5186 !important;
}

.lets-talk-modal-btn{
  background-color: #343a40;
  border: #FF8947 solid 1px;
  color: #FF8947;
}

.lets-talk-modal-btn:hover{
  background-color: #FF8947;
  color: #343a40 !important;
}

/* END INDEX */

.striking-color{
  color: #fe5186;
}

.striking-bg-color{
  background-color: #fe5186;
  color: #343a40;
}

/* posts.html */

.posts-tags{
  color: #ff6d67;
}
.posts-bg{
  background-color: #343a40;
  border: #ff6d67 solid 0.5px;
  color: #ff6d67 !important;
}
.posts-bg:hover{
  background-color: #ff6d67;
  color: aliceblue !important;
  text-decoration: none;
}

.posts-list-anchor{
  color: #C8C9CA;
}
.posts-list-anchor:hover{
  color: #fe5186;
  text-decoration: none;
}

.post_border{
  border-bottom: #FF8947 dotted 1px;
}

/* Links in each post in posts.html */
.anchor_hover:hover{
  color: #fe5186;
  text-decoration: none;
}

/* END posts.html */

/* post-detail */
.title-post{
  color: #C8C9CA;
}
.main-post{
  color: #C8C9CA;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.6;
}

.main-post > pre{
  padding-top: .5rem;
  padding-bottom: .5rem;
  font-size: .9rem;
  font-weight: 300;
  line-height: 1.2;
}

/* END post-detail */

/* Blinking shell cursor for NavBrand in partials/_navbar.html */
.blinking {
  display: inline-block;
  width: 10px;
  height: 1.3rem;
  background-color: #fe5186;
  -webkit-animation: blinking 1s infinite;
  animation: blinking 1s infinite;
}

@keyframes blinking {
  0% {
      background-color: transparent;
  }
  45% {
      background-color: transparent
  }
  50% {
      background-color: #fe5186;
  }
}
/* END Blinking shell cursor for NavBrand */