{% extends 'base.html' %}

{% load humanize %}

{% block content %}

<div class="row mt-5">
  <!-- Blog Detail-->
  <div class="col-12 index-font">
    <div class="text-center">
      <!-- Title -->
      <h3 class="mt-2 py-3 text-center mx-auto posts_list_font posts_list_font_color display-4">
        {{ post.title | title }}
      </h3>
      <!-- Categories -->
      {% include 'partials/_categories_badges.html' %}  
    </div>
    <div class="content main_font my-5">
      {{ post.content | safe }}
    </div>
  </div>  
  <!-- END Blog Detail -->
</div>

{% endblock %}