{% extends 'base.html' %}

{% load humanize %}

{% block content %}
<!-- TODO: handle in the future MarkDown and HTML
https://hakibenita.com/django-markdown
-->

<!-- TITLE and SEARCH BOX-->
<div class="row">
  <!-- Blog Detail-->
  <div class="col-sm-9">

    <div class="card text-center mb-5">
      <div class="card-header bg-dark text-white">
        <small class="text-light">{{ post.updated | date:"D d M Y" }}</small>
        <h3 class="pt-1 pb-3">{{ post.title }}</h3>
      </div>
      <div class="card-body">
        <figure class="figure">
          <img src="{{ post.main_photo.url }}" class="figure-img img-fluid rounded" alt="...">
          <figcaption class="figure-caption">{{ post.summary }}</figcaption>
        </figure>
        <p class="card-text text-justify py-3">{{ post.content | safe }}</p>
        <a href="{% url 'posts' %}" class="btn bg-info text-white">Latest Posts</a>
      </div>
      <div class="card-footer text-muted">
        CONTACT
      </div>
    </div>

  </div> <!-- END Blog Detail -->

  <!-- ADMIN(implement later) / ADD button / Tags-->
  <div class="col-sm-3">
    {% include 'partials/_sides.html' %}
  </div>
</div>

{% endblock %}