{% extends 'base.html' %}

{% load humanize %}
{% block content %}

<!-- Alerts -->
{% include 'partials/_alerts.html' %}
<div class="d-flex bd-highlight mb-3">
  <div class="p-2 flex-grow-1 bd-highlight text-center">
    <h3 class="pb-3">All Posts</h3>
  </div>
  <div class="p-2 bd-highlight">
    <form class="form-inline my-2 my-lg-0 clear-fix float-right mr-3">
      <input class="form-control mr-sm-2" type="search" placeholder="Search Post" aria-label="Search">
      <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</div>

<div class="row">
  <!-- List of Blogs -->
  <div class="col-sm-9">
    <div class="accordion" id="accordionPosts">

      {% for post in posts %}
        <div class="card">
          <div class="card-header" id="heading{{ post.id }}">
            <h2 class="mb-0">
              <button class="text-info btn btn-link btn-block text-left text-decoration-none" type="button"
                data-toggle="collapse" data-target="#collapse{{ post.id }}" aria-expanded="false" aria-controls="collapse{{ post.id }}">
                {{ post.title }} 
                <span class="float-right">
                  <small class="text-muted">Posted {{ post.created | naturaltime }}  </small>
                  <i class="fas fa-plus-circle"></i>
                </span>
              </button>
            </h2>
          </div>
          <!-- REMEMBER TO CHANGE THE ID here and in data-target in the button above  
              AND leave show class for the first post and remove it for the followin
              g posts
          -->
          <div id="collapse{{ post.id }}" class="collapse" aria-labelledby="heading{{ post.id }}" data-parent="#accordionPosts">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-10">
                  <p>{{ post.summary }}</p>
                </div>
                <div class="col-sm-2">
                  <a href="{% url 'post' post.id %}" class="float-right btn btn-outline-dark btn-md" role="button"><i class="fab fa-readme"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- END CARD-->

      {% endfor %}

    </div> <!-- END Accordion -->
  </div> <!-- END List of Blogs -->
  <!-- ADMIN(implement later) / ADD button / Tags-->
  <div class="col-sm-3">
    <a href="{% url 'add_post' %}" class="mr-4 float-right btn btn-dark btn-md" role="button"><i class="fas fa-plus-circle"></i> Add Post</a>
  </div>
</div>

{% endblock %}